*{
	margin: 0;
	padding: 0;
}

.parallax{
	position: relative;
	width: 100%;
	height: auto;
	overflow: auto;
}

.parallax_inner{
	position: relative;
	background-image: url("petal_background_svg.svg");
	background-size: 70%;
	background-repeat: repeat-y;
	width: 100%;
	height: auto;
	background-position: center 0px;
	transition: background-position 1s ease-out;
}

.parallax_foreground{
	position: absolute;
	background-image: url("petal_foreground_svg.svg");
	background-size: 70%;
	background-repeat: repeat-y;
	width: 100%;
	top: 0;
	bottom: 0;
	background-position: center 0px;
	transition: background-position 1s ease-out;
}

header{
	position: sticky;
	z-index: 2;
	
	top: 0px;
	width: 100%;
	height: 10vh;
	min-height: 50px;
	padding: 10px 0px 10px 0px;
	
	background-color: white;
	box-shadow: 0px 5px 20px #E5E5E5;
}

.header_title{
	text-align: center;
}

.header_title a{
	font-size: 50px;
	text-decoration: none;
}

.side_menu_intro_container{
	width: 100%;
	height: calc(100vh - 120px);
	min-height: 400px;
	padding: 50px 0px 0px 0px;
	
	background-image: url(arrow_svg.svg);
	background-repeat: no-repeat;
	background-position: -30px 0px;
	background-size: auto 100%;
	
	box-shadow: 0px 5px 20px #E5E5E5;
}

.side_menu{
	width: 20%;
	min-width: 200px;
	height: 100%;
	float: left;
	list-style: none;
	line-height: 60px;
}

.side_menu a{
	color: black;
	text-decoration: none;
	font-size: 25px;
	
	padding: 0px 0px 0px 0px;
	transition: padding 0.2s ease;
}

.side_menu_icon{
	content: url("rose_icon_svg.svg");
	width: 30px;
	height: 30px;
	padding: 0 5px 0 0;
	transform: translateY(3px);
	
	opacity: 0;
	transition: opacity 0.2s ease;
}

.side_menu a:hover{
	padding: 0px 0px 0px 30px;
}

.side_menu a:hover > .side_menu_icon{
	opacity: 1;
}

.intro{
	position: relative;
	float: right;
	width: 60%;
	min-width: 200px;
	height: auto;
	color: black;
}

.intro a{
	text-decoration: none;
}

.intro_highlight_title{
	text-align: right;
	padding: 10px;
}

.intro_highlighted{
	text-align: right;
	padding: 10px;
}

.intro_image_container{
	display: inline-block;
	padding: 5px 0px 5px calc(100% - 480px);
}

.intro_image_small{
	width: 150px;
	height: 150px;
}

.intro_image_large{
	display: inline-block;
	width: 300px;
	height: 300px;
}

.content{
	position: relative;
	width: 100%;
	padding: 10px 0px 10px 0px;
}

.content a{
	color: rgb(175, 0, 0);
	text-decoration: none;
}

.content a:hover{
	text-decoration: underline;
}

.content_block{
	width: 70%;
	margin: 50px 0 50px 15%;
	padding: 20px;
	background-color: white;
	box-shadow: 5px 5px 20px #E5E5E5, -5px -5px 20px #E5E5E5;
}

.content_block_title{
	text-align: center;
	padding: 0 0 20px 0;
}

footer{
	width: 100%;
	height: 25%;
	min-height: 100px;
	
	box-shadow: 0px -5px 20px #E5E5E5;
}

.social_title{
	text-align: center;
	padding: 10px 0 20px 0;
	font-size: 40px;
}

.social_content{
	text-align: center;
}

.social_content a{
	text-decoration: none;
	color: rgb(175, 0, 0);
}

.separator{
	width: 100%;
	height: 100px;
	padding: 50px 0 50px 0;
}

.title_font{
	color: black;
	font-family: "Dancing Script", cursive;
	text-transform: lowercase;
}

.body_font{
	color: black;
	font-family: "Playfair Display", serif;
	font-size: 16px;
	line-height: 32px;
}

.overlay{
	position: fixed;
	display: block;
	margin: -100px 0 -100px 0;
	width: 100%;
	height: 200%;
	z-index: 10;
	background-color: white;
	transition: background-color 2s ease-in;
}

.overlay_title{
	font-size: 75px;
	text-align: center;
	padding: 20% 0 0 0;
	
	color: black;
	font-family: "Dancing Script", cursive;
	text-transform: lowercase;
	transition: color 2s ease, padding 2s ease;
}

.overlay_loading{
	text-align: center;
	opacity: 1;
	
	transition: opacity 2s ease;
}

.overlay_loading_icon{
	width: 40px;
	height: 40px;
	padding: 0 10px 0 10px;
	
	opacity: 0;
	transition: opacity 0.5s ease;
}

.gallery_container{
	text-align: center;
}

.gallery{
	display: inline-block;
	margin: 20px;
	width: 200px;
	height: 250px;
	border: 1px solid #E5E5E5;
}

.gallery:hover{
	border: 1px solid #999999;
}

.gallery a{
	color: black;
	text-decoration: none;
	width: 100%;
	height: 100%;
}

.gallery a:hover{
	text-decoration: none;
}

.gallery img{
	width: auto;
	max-width: 100%;
	height: 75%;
}

.gallery_title{
	text-align: center;
	padding: 5px;
	font-size: 20px;
}

.options{
	position: absolute;
	top: 5px;
	right: 20px;
	font-size: 12px;
	list-style: none;
}